// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

td.td_editable::before {
    content: "✎  ";
    color: #999;
}

td.td_editable {
    cursor: pointer;
}
